{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-vindo ao Trabalho Django Seenaiii</title>
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
</head>
<body>
    <header>
        <h2>Bem-vindo Tela Inicial Trabalho Senaii</h2>
    </header>
    <div class="container">
        <h2>alguma coisa</h2>
        
    </div>
    <footer>
        <p>&copy; 2024 DjangoApp - Desenvolvido no Senai</p>
    </footer>
</body>
</html>
